#time-toast-container {
  position: fixed;
  top: 75px;
  right: 75px;
}

.time-toast {
  font-size: 15px;
  background-color: rgba(30, 255, 0, 0.75);
  color: black;
  padding: 15px 25px;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.25);
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 0.25s forwards;
}

.bubble-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
}

.bubble-effect .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--primary-color, lightgreen);
    border-radius: 100%;
    animation: 
        bubble-size var(--time, 0.25s) ease-in infinite var(--delay, 0s),
        bubble-move var(--time, 0.25s) ease-in infinite var(--delay, 0s);
    transform: translate(-25%, 100%);
    opacity: 0.3;
    filter: brightness(1.2);
}

@keyframes bubble-size {
    0%, 75% {
        width: var(--size, 2rem);
        height: var(--size, 2rem);
    }
    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-move {
    0% {
        bottom: -5rem;
        opacity: 0;
    }
    10% {
        opacity: 0.25;
    }
    90% {
        opacity: 0.25;
    }
    100% {
        bottom: var(--distance, 15rem);
        opacity: 0;
    }
}